
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Juan Samaritano">
    <meta name="generator" content="Hugo 0.88.1">
    <link rel="shortcut icon" href="icon/cv_logo.png"  type="image/x-icon">
    <title>Creative Visual</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cover.css">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-5">Creative Visual</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
          <a class="nav-link" href="proyectos">Proyectos</a>
          <a class="nav-link modal-open" href="#">Contacto</a>
        </nav>
      </div>
    </header>
       <!--modal section-->
      
    <main class="px-3">
      <img src="icon/cv_black_2.png" width="100px" alt="">
      <h1>Creative Visual</h1>
      <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor fugit minima odit aspernatur mollitia modi distinctio iste natus deserunt non.</p>
      <p class="lead">
        <a href="home" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Leer más</a>
      </p>
    </main>
    
  

    <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>


    
  </body>
</html>