     <!--footer-->
          
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="home" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="nosotros" class="nav-link px-2 text-muted">Nosotros</a></li>
                <li class="nav-item"><a href="proyectos" class="nav-link px-2 text-muted">Proyectos</a></li>
                <li class="nav-item modal-open"><a href="#" class="nav-link px-2 text-muted">Contacto</a></li>
                <li class="nav-item"><a href="unirse" class="nav-link px-2 text-muted">Unirse</a></li>
            </ul>
            <p class="text-center text-muted">&copy; Todos los derechos reservados - 2021 Creative Visual, Inc</p>
        </footer>
    </div>
  
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modal-section.js"></script>
      
    <script src="/js/particles.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
       